body {
    background-color: #fdf6e3;
    color: #657b83;
    font-family: 'Garamond', 'Georgia', serif;
}

h1 {
    color: #586e75;
}

.ingredients li {
    font-weight: bold;
}

#cooking-time {
    font-weight: normal;
}

li {
    margin: 10px 0;
}

.header {
    max-height: 400px;
    width: auto;
}